body {
    background-color: rgb(201, 201, 201);
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

/*Die allgemeinen Flaggeeinstellungen*/
.flagge {
    position: absolute;
    display: block;
    width: 900px;
    height: 600px;
}

/*Blaue Streifen */
.eins {
    height: 120px;
    width: 900px;
    background-color: navy;
}

.drei {
    height: 120px;
    width: 900px;
    background-color: navy;
}

.funf {
    height: 120px;
    width: 900px;
    background-color: navy;
}

/*weiße Streifen*/
.zwei {
    height: 120px;
    width: 900px;
    background-color: white;
}

.vier {
    height: 120px;
    width: 900px;
    background-color: white;
}

/*Der Cuba Text*/
.text {
    padding-top: 25px;
    padding-left: 50%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}

/*Das Rote Dreieck*/
.dreieck{
    position: relative;
    background-color: red;
    height: 600px;
    width: 300px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

/*Der weiße Stern*/
.stern{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 150px;
    width: 150px;
    background-color: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

